<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>Sonora</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>Sonora</key>
		<dict>
			<key>SNRAlbum</key>
			<data>
			WK1sYsYQ8jlsUHgcA3J6ZYtHEtNdgOt9Yqg8KXkhRvA=
			</data>
			<key>SNRArtist</key>
			<data>
			LRl2nskMJgxd7q9Y1VWbGHlOaogA1Ln90eUOmXklyPU=
			</data>
			<key>SNRArtwork</key>
			<data>
			X/jImmXVZLKZhbL+wnVdTKoL33lDU/2nSvGhi2HLOCs=
			</data>
			<key>SNRMix</key>
			<data>
			wYGEu01Yaj//OUmV/bJEJzI4W7xIVqK8r8l5jHMQ01c=
			</data>
			<key>SNRMixArtwork</key>
			<data>
			4yNXRa8Gf4xEFVoOmDBhr535GkxXjo7ya8MlChH15g4=
			</data>
			<key>SNRMixThumbnailArtwork</key>
			<data>
			Ess0VOE1i54OR2hjN/p6UaaQ7ICzMZQ41K08cWNP+7g=
			</data>
			<key>SNRPlayCount</key>
			<data>
			NvMo4kH07kMI4YpX1n6wUb/m+VsdK8nekVdImhT6Iu4=
			</data>
			<key>SNRSong</key>
			<data>
			bCy6ltTIkb1jOdYbjOd50Us5GmSZavVI9Cx44PIadrs=
			</data>
			<key>SNRTag</key>
			<data>
			boA55vbBeNaHTshdzsUlNCKtfvpS/VTU/Rb143DnZT4=
			</data>
			<key>SNRThumbnailArtwork</key>
			<data>
			Dpct4Vs7H8aV0Mu/KgPYTa1S6XszWE8PsR2kfgIfAR4=
			</data>
		</dict>
	</dict>
</dict>
</plist>
