<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zrx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zocrexx2.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZOC Rexx-Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.emtec.zoc.zrx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zsh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZOC Commandline File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.emtec.zoc.zsh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zln</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZOC Commandline File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.emtec.zoc.zln</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zoc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZOC Session Profile</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.emtec.zoc.zoc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zocini</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zoctool.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZOC Configuration File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.emtec.zoc.zocini</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zfg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zoczfg.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZOC Program Settings File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.emtec.zoc.zfg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ztr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zocztr.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZOC Character Translation Profile</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.emtec.zoc.ztr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zky</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zoczky.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZOC Keyboard Profile</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.emtec.zoc.zky</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zoctool.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZOC AT-Commands Profile</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.emtec.zoc.zat</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ztn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zoctool.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZOC SSH-Tunnel Profile</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.emtec.zoc.ztn</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>zoc7</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>ZOC Help</string>
	<key>CFBundleIconFile</key>
	<string>zoc.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.emtec.zoc7</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ZOC</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>7.01.0</string>
	<key>CFBundleSignature</key>
	<string>ZOC!</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>telnet URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>telnet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ssh URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ssh</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7.01.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>zocscript.sdef</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZOC Session Profile</string>
			<key>UTTypeIconFile</key>
			<string>zoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.emtec.zoc.zoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zoc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZOC Rexx-Script</string>
			<key>UTTypeIconFile</key>
			<string>zocrexx2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.emtec.zoc.zrx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zrx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZOC Commandline File</string>
			<key>UTTypeIconFile</key>
			<string>zoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.emtec.zoc.zsh</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zsh</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZOC Commandline File</string>
			<key>UTTypeIconFile</key>
			<string>zoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.emtec.zoc.zln</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zln</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZOC Configuration File</string>
			<key>UTTypeIconFile</key>
			<string>zoctool.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.emtec.zoc.zocini</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zocini</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZOC Program Settings File</string>
			<key>UTTypeIconFile</key>
			<string>zoczfg.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.emtec.zoc.zfg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zfg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZOC Character Translation Profile</string>
			<key>UTTypeIconFile</key>
			<string>zocztr.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.emtec.zoc.ztr</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ztr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZOC Keyboard Mapping Profile</string>
			<key>UTTypeIconFile</key>
			<string>zoczky.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.emtec.zoc.zky</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zky</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZOC Character Translation Profile</string>
			<key>UTTypeIconFile</key>
			<string>zoczat.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.emtec.zoc.zat</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zat</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZOC Character Translation Profile</string>
			<key>UTTypeIconFile</key>
			<string>zocztn.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.emtec.zoc.ztn</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ztn</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
