<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consoles</key>
	<array>
		<dict>
			<key>antiAlias</key>
			<integer>0</integer>
			<key>bgColor</key>
			<string>000000</string>
			<key>columnCount</key>
			<integer>80</integer>
			<key>cursorBlink</key>
			<integer>1</integer>
			<key>cursorType</key>
			<integer>0</integer>
			<key>fgColor</key>
			<string>FFFFFF</string>
			<key>fontName</key>
			<string>286</string>
			<key>fontSize</key>
			<integer>16</integer>
			<key>fontScale</key>
			<real>1.5</real>
			<key>name</key>
			<string>286</string>
			<key>rowCount</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>antiAlias</key>
			<integer>0</integer>
			<key>bgColor</key>
			<string>11009C</string>
			<key>columnCount</key>
			<integer>80</integer>
			<key>cursorBlink</key>
			<integer>0</integer>
			<key>cursorType</key>
			<integer>0</integer>
			<key>fgColor</key>
			<string>7572FC</string>
			<key>fontName</key>
			<string>Admiral</string>
			<key>fontSize</key>
			<integer>10</integer>
			<key>fontScale</key>
			<real>1.5</real>
			<key>name</key>
			<string>C86</string>
			<key>rowCount</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>antiAlias</key>
			<integer>0</integer>
			<key>bgColor</key>
			<string>000000</string>
			<key>columnCount</key>
			<integer>80</integer>
			<key>cursorBlink</key>
			<integer>1</integer>
			<key>cursorType</key>
			<integer>0</integer>
			<key>fgColor</key>
			<string>FF7F00</string>
			<key>fontName</key>
			<string>Viti</string>
			<key>fontSize</key>
			<integer>10</integer>
			<key>fontScale</key>
			<real>2</real>
			<key>name</key>
			<string>Viti Amber</string>
			<key>rowCount</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>antiAlias</key>
			<integer>0</integer>
			<key>bgColor</key>
			<string>000000</string>
			<key>columnCount</key>
			<integer>80</integer>
			<key>cursorBlink</key>
			<integer>1</integer>
			<key>cursorType</key>
			<integer>0</integer>
			<key>fgColor</key>
			<string>FFFFFF</string>
			<key>fontName</key>
			<string>Courier</string>
			<key>fontSize</key>
			<integer>12</integer>
			<key>fontScale</key>
			<real>2</real>
			<key>name</key>
			<string>K+R</string>
			<key>rowCount</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>antiAlias</key>
			<integer>0</integer>
			<key>bgColor</key>
			<string>000000</string>
			<key>columnCount</key>
			<integer>80</integer>
			<key>cursorBlink</key>
			<integer>1</integer>
			<key>cursorType</key>
			<integer>0</integer>
			<key>fgColor</key>
			<string>00FF00</string>
			<key>fontName</key>
			<string>Viti</string>
			<key>fontSize</key>
			<integer>10</integer>
			<key>fontScale</key>
			<real>2</real>
			<key>name</key>
			<string>Viti Green</string>
			<key>rowCount</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>antiAlias</key>
			<integer>0</integer>
			<key>bgColor</key>
			<string>000000</string>
			<key>columnCount</key>
			<integer>80</integer>
			<key>cursorBlink</key>
			<integer>1</integer>
			<key>cursorType</key>
			<integer>0</integer>
			<key>fgColor</key>
			<string>00FF00</string>
			<key>fontName</key>
			<string>Pomme</string>
			<key>fontSize</key>
			<integer>10</integer>
			<key>fontScale</key>
			<integer>2</integer>
			<key>name</key>
			<string>Pomme</string>
			<key>rowCount</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>antiAlias</key>
			<integer>0</integer>
			<key>bgColor</key>
			<string>000000</string>
			<key>columnCount</key>
			<integer>80</integer>
			<key>cursorBlink</key>
			<integer>1</integer>
			<key>cursorType</key>
			<integer>1</integer>
			<key>fgColor</key>
			<string>FFFFFF</string>
			<key>fontName</key>
			<string>Metaphorics</string>
			<key>fontSize</key>
			<integer>14</integer>
			<key>fontScale</key>
			<real>1.5</real>
			<key>name</key>
			<string>Metaphorics</string>
			<key>rowCount</key>
			<integer>31</integer>
		</dict>
		<dict>
			<key>antiAlias</key>
			<integer>1</integer>
			<key>bgColor</key>
			<string>000000</string>
			<key>columnCount</key>
			<integer>120</integer>
			<key>cursorBlink</key>
			<integer>1</integer>
			<key>cursorType</key>
			<integer>0</integer>
			<key>fgColor</key>
			<string>FF8000</string>
			<key>fontName</key>
			<string>Monaco</string>
			<key>fontSize</key>
			<integer>11</integer>
			<key>fontScale</key>
			<integer>1</integer>
			<key>name</key>
			<string>Dense</string>
			<key>rowCount</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>antiAlias</key>
			<integer>0</integer>
			<key>bgColor</key>
			<string>000000</string>
			<key>columnCount</key>
			<integer>80</integer>
			<key>cursorBlink</key>
			<integer>1</integer>
			<key>cursorType</key>
			<integer>0</integer>
			<key>fgColor</key>
			<string>0000FF</string>
			<key>fontName</key>
			<string>Viti</string>
			<key>fontSize</key>
			<integer>10</integer>
			<key>fontScale</key>
			<real>2</real>
			<key>name</key>
			<string>Viti Blue</string>
			<key>rowCount</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>antiAlias</key>
			<integer>0</integer>
			<key>bgColor</key>
			<string>000000</string>
			<key>columnCount</key>
			<integer>60</integer>
			<key>cursorBlink</key>
			<integer>1</integer>
			<key>cursorType</key>
			<integer>0</integer>
			<key>fgColor</key>
			<string>FFFFFF</string>
			<key>fontName</key>
			<string>Lucky Heaven</string>
			<key>fontSize</key>
			<integer>10</integer>
			<key>fontScale</key>
			<real>2</real>
			<key>name</key>
			<string>Lucky Heaven</string>
			<key>rowCount</key>
			<integer>30</integer>
		</dict>
	</array>
	<key>Monitors</key>
	<array>
		<dict>
			<key>border</key>
			<real>0</real>
			<key>contrast</key>
			<real>0.5</real>
			<key>curvature</key>
			<integer>0</integer>
			<key>fade</key>
			<real>0.6</real>
			<key>flicker</key>
			<real>0.1</real>
			<key>frameColor</key>
			<string>000000</string>
			<key>frameIsHidden</key>
			<integer>1</integer>
			<key>glassColor</key>
			<string>000000</string>
			<key>glassIsHidden</key>
			<integer>1</integer>
			<key>glow</key>
			<real>1</real>
			<key>overbright</key>
			<real>1</real>
			<key>hsync</key>
			<real>0</real>
			<key>hueShift</key>
			<real>0.1</real>
			<key>interlace</key>
			<integer>1</integer>
			<key>jitter</key>
			<real>0.2</real>
			<key>line</key>
			<real>0.2</real>
			<key>name</key>
			<string>Clean Slate</string>
			<key>noise</key>
			<real>0.5</real>
			<key>transparency</key>
			<real>0.15</real>
		</dict>
		<dict>
			<key>border</key>
			<real>0.2</real>
			<key>contrast</key>
			<integer>0</integer>
			<key>curvature</key>
			<real>0.5</real>
			<key>fade</key>
			<real>0.3</real>
			<key>flicker</key>
			<real>0.1</real>
			<key>frameColor</key>
			<string>666666</string>
			<key>frameIsHidden</key>
			<integer>0</integer>
			<key>glassColor</key>
			<string>4C4C4C</string>
			<key>glassIsHidden</key>
			<integer>0</integer>
			<key>glow</key>
			<real>0.5</real>
			<key>overbright</key>
			<real>0.5</real>
			<key>hsync</key>
			<integer>0</integer>
			<key>hueShift</key>
			<real>0.3</real>
			<key>interlace</key>
			<integer>0</integer>
			<key>jitter</key>
			<integer>0</integer>
			<key>line</key>
			<real>0</real>
			<key>name</key>
			<string>1991</string>
			<key>noise</key>
			<real>0.3</real>
			<key>transparency</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>border</key>
			<real>0.5</real>
			<key>contrast</key>
			<integer>0</integer>
			<key>curvature</key>
			<real>0.7</real>
			<key>fade</key>
			<real>0.6</real>
			<key>flicker</key>
			<real>0.2</real>
			<key>frameColor</key>
			<string>333333</string>
			<key>frameIsHidden</key>
			<integer>0</integer>
			<key>glassColor</key>
			<string>000000</string>
			<key>glassIsHidden</key>
			<integer>0</integer>
			<key>glow</key>
			<real>0</real>
			<key>overbright</key>
			<real>0</real>
			<key>hsync</key>
			<real>0.1</real>
			<key>hueShift</key>
			<real>0.2</real>
			<key>interlace</key>
			<integer>0</integer>
			<key>jitter</key>
			<real>0.2</real>
			<key>line</key>
			<real>0.2</real>
			<key>name</key>
			<string>1988</string>
			<key>noise</key>
			<real>0.5</real>
			<key>transparency</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>border</key>
			<real>0</real>
			<key>contrast</key>
			<real>0</real>
			<key>curvature</key>
			<real>0</real>
			<key>fade</key>
			<real>0.5</real>
			<key>flicker</key>
			<real>0.4909638</real>
			<key>frameColor</key>
			<string>000000</string>
			<key>frameIsHidden</key>
			<integer>1</integer>
			<key>glassColor</key>
			<string>000000</string>
			<key>glassIsHidden</key>
			<integer>0</integer>
			<key>glow</key>
			<real>0.5</real>
			<key>overbright</key>
			<real>0.5</real>
			<key>hsync</key>
			<real>0.4969879</real>
			<key>hueShift</key>
			<real>0.5030121</real>
			<key>interlace</key>
			<real>0</real>
			<key>jitter</key>
			<real>0.4969879</real>
			<key>line</key>
			<real>0.4909638</real>
			<key>name</key>
			<string>Rough Slate</string>
			<key>noise</key>
			<real>0</real>
			<key>transparency</key>
			<real>0.15</real>
		</dict>
		<dict>
			<key>border</key>
			<real>0.6</real>
			<key>contrast</key>
			<real>0.1</real>
			<key>curvature</key>
			<real>0.8</real>
			<key>fade</key>
			<real>0.5</real>
			<key>flicker</key>
			<real>0.3</real>
			<key>frameColor</key>
			<string>666666</string>
			<key>frameIsHidden</key>
			<integer>0</integer>
			<key>glassColor</key>
			<string>333333</string>
			<key>glassIsHidden</key>
			<integer>0</integer>
			<key>glow</key>
			<real>1</real>
			<key>overbright</key>
			<real>1</real>
			<key>hsync</key>
			<real>0.8</real>
			<key>hueShift</key>
			<real>0.7</real>
			<key>interlace</key>
			<real>0.7</real>
			<key>jitter</key>
			<real>0.2</real>
			<key>line</key>
			<real>0.1</real>
			<key>name</key>
			<string>1986 TV</string>
			<key>noise</key>
			<real>0.7</real>
			<key>transparency</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>border</key>
			<real>1</real>
			<key>contrast</key>
			<real>0</real>
			<key>curvature</key>
			<real>1</real>
			<key>fade</key>
			<real>0.5</real>
			<key>flicker</key>
			<real>0</real>
			<key>frameColor</key>
			<string>FFFFFF</string>
			<key>frameIsHidden</key>
			<integer>0</integer>
			<key>glassColor</key>
			<string>FFFFFF</string>
			<key>glassIsHidden</key>
			<integer>0</integer>
			<key>glow</key>
			<real>0.5030121</real>
			<key>overbright</key>
			<real>0.5030121</real>
			<key>hsync</key>
			<real>0</real>
			<key>hueShift</key>
			<real>0</real>
			<key>interlace</key>
			<real>0</real>
			<key>jitter</key>
			<real>0</real>
			<key>line</key>
			<real>0</real>
			<key>name</key>
			<string>White Room</string>
			<key>noise</key>
			<real>0</real>
			<key>transparency</key>
			<real>0</real>
		</dict>
		<dict>
			<key>border</key>
			<real>0.1</real>
			<key>contrast</key>
			<real>0</real>
			<key>curvature</key>
			<real>0.8</real>
			<key>fade</key>
			<real>0.5</real>
			<key>flicker</key>
			<real>0</real>
			<key>frameColor</key>
			<string>000000</string>
			<key>frameIsHidden</key>
			<integer>0</integer>
			<key>glassColor</key>
			<string>000000</string>
			<key>glassIsHidden</key>
			<integer>0</integer>
			<key>glow</key>
			<real>1</real>
			<key>overbright</key>
			<real>1</real>
			<key>hsync</key>
			<real>0</real>
			<key>hueShift</key>
			<real>0</real>
			<key>interlace</key>
			<real>0</real>
			<key>jitter</key>
			<real>0</real>
			<key>line</key>
			<real>0</real>
			<key>name</key>
			<string>Black Room</string>
			<key>noise</key>
			<real>0</real>
			<key>transparency</key>
			<real>0</real>
		</dict>
		<dict>
			<key>border</key>
			<real>0</real>
			<key>contrast</key>
			<real>0</real>
			<key>curvature</key>
			<real>0</real>
			<key>fade</key>
			<real>0</real>
			<key>flicker</key>
			<real>0</real>
			<key>frameColor</key>
			<string>000000</string>
			<key>frameIsHidden</key>
			<integer>1</integer>
			<key>glassColor</key>
			<string>000000</string>
			<key>glassIsHidden</key>
			<integer>1</integer>
			<key>glow</key>
			<real>0</real>
			<key>overbright</key>
			<real>0</real>
			<key>hsync</key>
			<real>0</real>
			<key>hueShift</key>
			<real>0</real>
			<key>interlace</key>
			<real>0</real>
			<key>jitter</key>
			<real>0</real>
			<key>line</key>
			<real>0</real>
			<key>name</key>
			<string>Blank Slate</string>
			<key>noise</key>
			<real>0</real>
			<key>transparency</key>
			<real>0.15</real>
		</dict>
		<dict>
			<key>border</key>
			<real>0.5</real>
			<key>contrast</key>
			<real>0.1</real>
			<key>curvature</key>
			<integer>1</integer>
			<key>fade</key>
			<real>0.8</real>
			<key>flicker</key>
			<real>0.4</real>
			<key>frameColor</key>
			<string>CCCCCC</string>
			<key>frameIsHidden</key>
			<integer>0</integer>
			<key>glassColor</key>
			<string>999999</string>
			<key>glassIsHidden</key>
			<integer>0</integer>
			<key>glow</key>
			<real>1</real>
			<key>overbright</key>
			<real>1</real>
			<key>hsync</key>
			<real>0.3</real>
			<key>hueShift</key>
			<real>0.9</real>
			<key>interlace</key>
			<integer>1</integer>
			<key>jitter</key>
			<real>0.3</real>
			<key>line</key>
			<real>0.3</real>
			<key>name</key>
			<string>1976</string>
			<key>noise</key>
			<real>0.5</real>
			<key>transparency</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>border</key>
			<real>0.3</real>
			<key>contrast</key>
			<real>0.2</real>
			<key>curvature</key>
			<real>0.7</real>
			<key>fade</key>
			<real>0.8</real>
			<key>flicker</key>
			<real>0.1</real>
			<key>frameColor</key>
			<string>CCCCCC</string>
			<key>frameIsHidden</key>
			<integer>0</integer>
			<key>glassColor</key>
			<string>999999</string>
			<key>glassIsHidden</key>
			<integer>0</integer>
			<key>glow</key>
			<real>1</real>
			<key>overbright</key>
			<real>1</real>
			<key>hsync</key>
			<real>0</real>
			<key>hueShift</key>
			<real>0.2</real>
			<key>interlace</key>
			<integer>1</integer>
			<key>jitter</key>
			<real>0.2</real>
			<key>line</key>
			<real>0.3</real>
			<key>name</key>
			<string>Gentle</string>
			<key>noise</key>
			<real>0.4</real>
			<key>transparency</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>border</key>
			<real>0.5</real>
			<key>contrast</key>
			<integer>0</integer>
			<key>curvature</key>
			<real>0.9</real>
			<key>fade</key>
			<integer>0</integer>
			<key>flicker</key>
			<real>0.3</real>
			<key>frameColor</key>
			<string>B1BC4E</string>
			<key>frameIsHidden</key>
			<integer>0</integer>
			<key>glassColor</key>
			<string>B3B3B3</string>
			<key>glassIsHidden</key>
			<integer>0</integer>
			<key>glow</key>
			<real>0</real>
			<key>overbright</key>
			<real>0</real>
			<key>hsync</key>
			<real>0.3</real>
			<key>hueShift</key>
			<real>0.3</real>
			<key>interlace</key>
			<integer>0</integer>
			<key>jitter</key>
			<real>0.2</real>
			<key>line</key>
			<real>0.3</real>
			<key>name</key>
			<string>1984</string>
			<key>noise</key>
			<real>0</real>
			<key>transparency</key>
			<real>0</real>
		</dict>
		<dict>
			<key>border</key>
			<real>0.3</real>
			<key>contrast</key>
			<real>0.2</real>
			<key>curvature</key>
			<real>0.7</real>
			<key>fade</key>
			<real>0.375</real>
			<key>flicker</key>
			<real>0.215</real>
			<key>frameColor</key>
			<string>CCCCCC</string>
			<key>frameIsHidden</key>
			<integer>0</integer>
			<key>glassColor</key>
			<string>999999</string>
			<key>glassIsHidden</key>
			<integer>0</integer>
			<key>glow</key>
			<real>0.85</real>
			<key>hsync</key>
			<real>0.4</real>
			<key>hueShift</key>
			<real>0.2</real>
			<key>interlace</key>
			<integer>1</integer>
			<key>jitter</key>
			<real>0.2</real>
			<key>line</key>
			<real>0</real>
			<key>name</key>
			<string>Eyelashes</string>
			<key>noise</key>
			<real>0.5</real>
			<key>overbright</key>
			<real>0.85</real>
			<key>transparency</key>
			<integer>0</integer>
			<key>verticalInterlace</key>
			<true/>
		</dict>
		<dict>
			<key>border</key>
			<real>0.35</real>
			<key>contrast</key>
			<real>0.2</real>
			<key>curvature</key>
			<real>0.5</real>
			<key>fade</key>
			<real>0.2</real>
			<key>flicker</key>
			<real>0.375</real>
			<key>frameColor</key>
			<string>CCCCCC</string>
			<key>frameIsHidden</key>
			<integer>0</integer>
			<key>glassColor</key>
			<string>999999</string>
			<key>glassIsHidden</key>
			<integer>0</integer>
			<key>glow</key>
			<real>0.85</real>
			<key>hsync</key>
			<real>0.25</real>
			<key>hueShift</key>
			<real>0.2</real>
			<key>interlace</key>
			<integer>1</integer>
			<key>jitter</key>
			<integer>0</integer>
			<key>line</key>
			<integer>0</integer>
			<key>name</key>
			<string>Teddy Boy</string>
			<key>noise</key>
			<real>0.35</real>
			<key>overbright</key>
			<real>0.85</real>
			<key>transparency</key>
			<real>0.25</real>
			<key>verticalInterlace</key>
			<true/>
		</dict>
		<dict>
			<key>border</key>
			<real>0.15</real>
			<key>contrast</key>
			<integer>0</integer>
			<key>curvature</key>
			<real>0.65</real>
			<key>fade</key>
			<real>0.45</real>
			<key>flicker</key>
			<integer>0</integer>
			<key>frameColor</key>
			<string>CCCCCC</string>
			<key>frameIsHidden</key>
			<integer>0</integer>
			<key>glassColor</key>
			<string>999999</string>
			<key>glassIsHidden</key>
			<integer>0</integer>
			<key>glow</key>
			<integer>0</integer>
			<key>hsync</key>
			<integer>0</integer>
			<key>hueShift</key>
			<integer>0</integer>
			<key>interlace</key>
			<integer>1</integer>
			<key>jitter</key>
			<integer>0</integer>
			<key>line</key>
			<integer>0</integer>
			<key>name</key>
			<string>Pale Fire</string>
			<key>noise</key>
			<integer>0</integer>
			<key>overbright</key>
			<integer>0</integer>
			<key>transparency</key>
			<integer>0</integer>
			<key>verticalInterlace</key>
			<true/>
		</dict>
	</array>
	<key>Favorites</key>
	<array>
		<dict>
			<key>name</key>
			<string>Activity Monitor</string>
			<key>commands</key>
			<string>top
</string>
			<key>console</key>
			<string>Pomme</string>
			<key>monitor</key>
			<string>1986 TV</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Space Opera</string>
			<key>commands</key>
			<string>telnet towel.blinkenlights.nl
</string>
			<key>console</key>
			<string>Viti Green</string>
			<key>monitor</key>
			<string>Gentle</string>
		</dict>
	</array>
</dict>
</plist>
