<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundWindowsRenderAtFullQuality</key>
	<false/>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>AutosavesInPlace</key>
	<true/>
	<key>BitRate</key>
	<real>10000000</real>
	<key>CloseOnExit</key>
	<false/>
	<key>TermIdentifier</key>
	<string>xterm-256color</string>
	<key>SupressScrollbar</key>
	<true/>
	<key>DefaultConsoleThemeName</key>
	<string>Pomme</string>
	<key>DefaultMonitorThemeName</key>
	<string>Gentle</string>
	<key>DeleteSendsCtrlH</key>
	<false/>
	<key>Framerate</key>
	<integer>30</integer>
	<key>RenderingQuality</key>
	<integer>3</integer>
	<key>PositionalPerspective</key>
	<true/>
	<key>UseSpacesForFullscreen</key>
	<true/>
	<key>JitterWhenWindowMoves</key>
	<true/>
	<key>LightLevel</key>
	<real>0.3</real>
	<key>MouseControlsCamera</key>
	<false/>
	<key>ScrollBackRowCount</key>
	<real>10000</real>
	<key>ScrollOnInput</key>
	<true/>
	<key>ShowDebugTools</key>
	<false/>
	<key>TitleOfSelectedPrefPane</key>
	<string>Terminal</string>
	<key>UseOptionAsMeta</key>
	<false/>
	<key>UseColorPalette</key>
	<true/>
	<key>UseSystemLocale</key>
	<true/>
	<key>StartupChimeSound</key>
	<string>Harpsichord</string>
	<key>PowerOnSound</key>
	<string>Nothing</string>
	<key>ScrollSound</key>
	<string>Nothing</string>
	<key>CharacterEntrySound</key>
	<string>Dot</string>
	<key>BellSound</key>
	<string>AMFM</string>
	<key>ConnectionSound</key>
	<string>Nothing</string>
	<key>UseSounds</key>
	<true/>
	<key>PageUpKeySequence</key>
	<string>\033[5~</string>
	<key>PageDownKeySequence</key>
	<string>\033[6~</string>
	<key>HomeKeySequence</key>
	<string>\033[H</string>
	<key>EndKeySequence</key>
	<string>\033[F</string>
</dict>
</plist>
