BODY
{
    FONT-FAMILY: Segoe UI, Lucida Grande, Arial, helvetica, sans-serif;
    FONT-SIZE: 15px;
    xLINE-HEIGHT: 120%;
}

P
{
	LINE-HEIGHT: 130%;
	MARGIN-TOP:	 4pt;
	MARGIN-BOTTOM: 4pt;
}

Pxx
{
	MARGIN-TOP:	 auto;
	MARGIN-BOTTOM: auto;
	PADDING-TOP:	auto;
	PADDING-BOTTOM: auto;
}

TABLE
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    xFONT-SIZE: 12;
}


TD
{
	xVERTICAL-ALIGN: top
}


IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}

/*
 *
 * HELPFILE SPECIFIC
 *
 */


/*
 * spans for formatting
 */
DIV.lines
{
	margin-top: 6px;
}

SPAN.example
{
	MARGIN-LEFT: 2px;
	MARGIN-RIGHT: 2px;
	FONT-FAMILY: Courier New, Courier;
	FONT-SIZE: 105%;
}

SPAN.syntax
{
	MARGIN-LEFT: 1px;
	MARGIN-RIGHT: 2px;
	xFONT-SIZE: 95%;
	FONT-WEIGHT: BOLDER;
	FONT-STYLE: ITALIC;
}

UL.list 
{
	MARGIN-TOP: 1em;
	xBACKGROUND-COLOR: Fuchsia;
}



/*
 * HLBOX (big headline)
 */
TABLE.hlbox
{
	MARGIN-TOP: 8px;
    MARGIN-BOTTOM: 8px;
}

TD.hlbox
{
    BORDER-TOP: 1px #B0B0B0 solid;
    BORDER-BOTTOM: 1px #B0B0B0 solid;
    FONT-SIZE: 16;
    BACKGROUND-COLOR: #E0E0E0;
    PADDING: 4px 10px 4px 10px;
}



/*
 * PARMLs (pthead1/2/3 refers to nesting level) (these are implemented through tables)
 */
TD.pthead1
{
	BORDER-TOP: 8px #FFFFFF solid;	/* fake a 8px MARGIN-TOP */
    xFONT-SIZE: 95%;
	BACKGROUND-COLOR: #F0F0F0;
	PADDING: 4px 10px 4px 10px;
}

TD.ptbody1
{
    PADDING: 8px 0px 0px 0px;
    LINE-HEIGHT: 120%;
    xVERTICAL-ALIGN: top;	/* middle */
    xFONT-SIZE: 16;
    xCOLOR: #ff8080;
}


TD.pthead2
{
	PADDING-LEFT: 12PX;
    xVERTICAL-ALIGN: top;	/* middle */
    FONT-SIZE: 90%;
    xFONT-SIZE: 16;
    xCOLOR: #ff8080;
	xBACKGROUND-COLOR: #E0E0E0;
}

TD.ptbody2
{
    xVERTICAL-ALIGN: top;	/* middle */
    xFONT-SIZE: 16;
    xCOLOR: #ff8080;
    LINE-HEIGHT: 110%;
}



/*
 * real tables (keyboard appendix)
 */
TABLE.table
{
    BORDER-RIGHT: 1px #B0B0B0 solid;
    BORDER-TOP: 1px #B0B0B0 solid;
}

TD.tablehdr
{
    BORDER-LEFT: 1px #B0B0B0 solid;
    BORDER-BOTTOM: 1px  #B0B0B0 solid;

	TEXT-ALIGN: center;
    VERTICAL-ALIGN: middle;
    BACKGROUND-COLOR: #E0E0E0;
}

TD.table
{
    BORDER-LEFT: 1px #B0B0B0 solid;
    BORDER-BOTTOM: 1px  #B0B0B0 solid;
    VERTICAL-ALIGN: top;
}



/*
 * links (ilink to internet, link internal within document)
 */
A.ilink
{
    COLOR: #404090;
    xTEXT-DECORATION: none
}

A.ilink:hover
{
    xCOLOR: #FFFFFF;
    xTEXT-DECORATION: underline
}

A.link
{
    COLOR: #404090;
    xTEXT-DECORATION: none
}

A.link:hover
{
    xCOLOR: #FFFFFF;
    xFONT-WEIGHT: 600;
    xTEXT-DECORATION: underline
}



/*
 *
 * END HELPFILE SPECIFIC
 *
 */

